<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-camera-info-manager"/>
		<package id="ros-dashing-cv-bridge"/>
		<package id="ros-dashing-gazebo-dev"/>
		<package id="ros-dashing-gazebo-ros"/>
		<package id="ros-dashing-geometry-msgs"/>
		<package id="ros-dashing-image-transport"/>
		<package id="ros-dashing-nav-msgs"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-sensor-msgs"/>
		<package id="ros-dashing-std-msgs"/>
		<package id="ros-dashing-tf2-geometry-msgs"/>
		<package id="ros-dashing-tf2-ros"/>
		<package id="ros-dashing-ros-workspace"/>
		<package id="ros-dashing-ament-cmake-core"/>

</packages>